body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map {
	height: 400px;
    width: 100%;
}

h3{
	text-align: center;
	padding: 10pt;
	margin: 5pt;
}

input{
	padding-top: 5pt;
	padding-bottom: 5pt;
	margin: 5pt;
}


